<h1>Users</h1>
<span ng-repeat="user in users">
  <button type="button" name="button"  ng-click=chooseUser(user)>{{user.name}}</button>
</span>

<div >
  <label ng-show="currentUser"><strong>Current user:</strong></label>
  <label>{{currentUser.name}}</label>

</div>
<h1>Restaurants ranking</h1>
<ul>
    <li ng-repeat="rest in restaurants | orderBy:'-totalVote'">
        {{rest.name}}  - Votes: {{rest.totalVote}} <button type="button" name="button" ng-click=vote(rest)>+1</button>
    </li>
</ul>
<div >

</div>
